{% extends "base.html" %}

{% block conversionactive %} active {% endblock conversionactive %}
{%block title %} Player {%endblock title %}

{% load static %}
{% block body %}

<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="Your description here">
        <meta name="author" content="Your Name">
        <meta name="robots" content="index, follow">       
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Expires" content="0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}?v=1">   
</head>

<body>
    <div class="container-fluid margin-container" style="padding-top: 120px;">
        
    {% if not success_convert %}
    <form action="{% url 'convert_mp3' %}" method="POST" id="form">
        {% csrf_token %}
        <h2 style="text-align: center; margin-top: 30px;"> Enter the Youtube URL <i class="fab fa-youtube"></i> </h2>
        <div>
            <input type="text" name="video_id" placeholder="Youtube URL">
            <button id="submit-btn">Convert</button>
        </div>
        <input type="hidden" id="converted-audio-url" name="converted_audio_url" value="">
    </form>
    {% endif %}

    <div class="bottom-container">
    {% if success is not None %}
        {% if success %}
            <div class="success">
                <p>{{ song_title }}</p>
                <p>File Size: {% if file_size_mb %}{{ file_size_mb|floatformat:2 }} MB{% else %}N/A{% endif %}</p>
                <form action="{% url 'download_converted_audio' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="converted_audio_url" value="{{ song_link }}">
                    <button type="submit" id="download-btn">DOWNLOAD</button>
                </form>
            </div>
        {% else %}
            <div class="errors">
                <p>{{ message }}</p>
            </div>
        {% endif %}
    {% endif %}

    {% if success_message %}
    <div class="success">
        <p>{{ success_message }}</p>
    </div>
    {% endif %}
    </div>
    
    <div style="text-align: center;">
        <h1 style="margin-top: 30px;">OR</h1>
    </div>
    
    <div style="text-align: center;">
        <h2 style="margin-top: 30px;">Upload Audio File</h2>
        <form method="post" enctype="multipart/form-data" style="margin-top: 30px; text-align: center;">
            {% csrf_token %}
            {{ form.as_p }}
    
            <label for="ai_model">Select Speaker:</label>
            <select class="form-select" name="ai_model" id="ai_model">
                <option value="SpongebobSquarepants.pth">Spongebob</option>
                <option value="PatrickStar.pth">Patrick</option>
                <option value="SquidwardTentacles.pth">Squidward</option>
                <option value="plankton2333333.pth">Plankton</option>
                <option value="MrKrabs.pth">Mr.Krabs</option>
                <option value="Madea.pth">Madea</option>
                <!-- Add more options for other speakers -->
            </select>
    
            <button type="submit" class="btn btn-primary custom-button0" style="margin-top: 20px;">Convert File</button>
        </form>
    </div>
   
    {% if error_message %}
        <div class="alert alert-danger" role="alert">
            {{ error_message }}
        </div>
    {% endif %}

    {% if processed_data %}
        <h2>Audio Conversion Results</h2>
        <p>Uploaded File: {{ uploaded_file_name }}</p>
        <p>Selected Ai Voice: {{ ai_model }}</p>
        <p>Status: {{ "Successfully Converted" }}</p>

    {% endif %}

    {% if status_message %}
        <div class="status-message">
            {{ status_message }}
        </div>
    {% endif %}

    <div style="text-align: center; margin-top: 50px;">
        <p>Status: {{ "Successfully Converted" }}</p>
        <audio controls>
            <source src="media/combined_Audio" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>

    </div>

    <script>
    document.addEventListener("DOMContentLoaded", function () {
        const form = document.getElementById("form");
        const submitButton = document.getElementById("submit-btn");
        const errorMessage = document.getElementById("error-message");
        const downloadButton = document.getElementById("download-btn");
        const convertedAudioUrlInput = document.getElementById("converted-audio-url");
        const audioPreview = document.getElementById('audioPreview');
        
        form.addEventListener("submit", function (event) {
            const videoIdInput = document.querySelector("input[name='video_id']");

            if (!videoIdInput.value.trim()) {
                event.preventDefault();
                errorMessage.textContent = "Please enter a YouTube link";
                errorMessage.style.display = "block";
            } else {
                errorMessage.style.display = "none";
            }
        });

        downloadButton.addEventListener("click", function () {
            
            convertedAudioUrlInput.value = "{{ song_link }}"; 
    });
    
    </script>
</body>

{% endblock body %}